body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
  background-color: #F7E9E3;
  text-align: center;
  margin: 40px auto;
  width: 75vh;
  padding: 30px 0px;
  border-radius: 10px;
}
#container>h2{
  font-size: 45px;
  color: #0E3150;
  text-decoration: underline;
  font-weight: 900;
}
#container>h3{
  font-size: 20px;
  color: #4e799e;
  text-decoration: none;
}
.buttonGame {
  appearance: button;
  background-color: #FFC0C2;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.buttonGame:focus {
  text-decoration: none;
}

.buttonGame:hover {
  text-decoration: none;
}

.buttonGame:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.buttonGame:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .buttonGame {
    padding: 12px 50px;
  }
}
#resultText{
  color: #346160;
  font-size: 20px;
  font-weight: 900;
}
.scores>h4{
  font-size: 30px;
  color: #0E3150;
}
#score{
  font-size: 20px;
  color: #4e799e;
  text-decoration: none;
  font-weight: 500;
}
#finalScore{
  font-size: 30px;
  color: #132d45;
  
}